/* add home page styles here */
h1 {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    font-style: oblique;
    font-weight: bolder;
}

.picker {
    border: 5px rgb(248, 77, 242) solid;
    margin: 0px;
    padding: 10px;
}